*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  background: $bg-primary 
  display: flex 
  align-items: center
  justify-content: center
  height: 100vh
  font-family: $font-ubuntu

.card 
  height: 550px 
  width: 820px 
  background: $cWhite
  border-radius: 15px
  box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.03)
  padding: 10px
  display: grid 
  grid-template-columns: 270px 1fr

  .steps 
    display: flex 
    gap: 20px 
    margin-bottom: 30px
    align-items: center

  .steps-container 
    background: url('../assets/bg-sidebar-desktop.svg')
    height: 100% 
    border-radius: 10px
    padding: 30px
    background-repeat: no-repeat 
    background-size: cover

  .dot 
    height: 35px
    width: 35px
    border: 1px solid $cWhite
    color: $cWhite
    border-radius: 100%
    display: flex 
    align-items: center
    justify-content: center
    font-size: 14px
    font-weight: bold

  .dot-active 
    background: $lightBlue
    color: black
    border: 1px solid $lightBlue

  .dot-details 
    span 
      color: rgba($cWhite, 0.5)
      font-size: 16px 

    p 
      color: $cWhite 
      font-weight: bold
      font-size: 18px
      margin-top: 3px

  .step-form-details 
    padding: 10px 50px

    .step-description 
      h1 
        margin-bottom: 10px

      p 
        margin-bottom: 30px

.form-group 
  display: flex 
  flex-direction: column
  margin-bottom: 20px

  .required
    border: 1px solid $strawberryRed

  input 
    width: 100%
    height: 45px 
    outline: none
    border: none
    border-radius: 5px
    border: 1px solid rgba(black, 0.1)
    padding: 10px

    &:focus
      border: 1px solid $marineBlue

  div 
    display: flex
    justify-content: space-between

    label 
      font-weight: 500 
      margin-bottom: 5px

    span 
      font-size: 14px
      font-weight: bold
      color: $strawberryRed



// BUTTON
button 
  padding: 10px 20px
  outline: none
  border: none
  margin: 10px 15px 10px 0
  border-radius: 3px
  background: $marineBlue
  cursor: pointer
  color: white

.form-group-select 
  display: flex 
  justify-content: space-between
  margin-bottom: 20px

  .form-group-radio 
    position: relative

    .radio 
      position: absolute
      opacity: 0
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 2

    .radio-ui 
      height: 140px
      width: 120px
      border: 1px solid $lightGray
      display: block
      padding: 10px
      border-radius: 8px
    

    .radio:checked + .radio-ui
      border: 1px solid $purplishBlue
      background: $alabaster

.form-group-checkbox 
  display: flex 
  gap: 15px
  cursor: pointer

  .checkbox 
    position: relative
    height: 20px
    width: 35px
    background: $marineBlue
    display: block
    border-radius: 20px

  .checkbox::before
    content: ""
    position: absolute 
    left: 3px
    top: 50%
    right: 2px
    transform: translateY(-50%)
    height: 12px
    width: 12px
    border-radius: 100% 
    background: white
    transition: 0.2s ease

  .check 
    opacity: 0
    height: 1px
    width: 1px
    position: absolute
    top: 0
    left: 0

  .check:checked + .checkbox::before
    transform: translate(17px, -50%)

.bill-plan 
  display: flex 
  justify-content: center 
  gap: 15px
  background: red 
  padding: 10px 0
  background: $alabaster 
  border: 1px solid $lightGray
  border-radius: 4px


.form-group-check 
  display: block
  position: relative
  cursor: pointer
  margin-bottom: 20px
  padding: 10px
  border-radius: 5px
  border: 1px solid transparent
  background: $alabaster
  border: 1px solid $lightBlue
  
  .form-group-check-container
    cursor: pointer

    .adds-details 
      padding-left: 35px
      display: flex 
      align-items: center
      justify-content: space-between 

      p 
        font-weight: bold

    input 
      position: absolute
      top: 0
      left: 0 
      opacity: 0

    .checkbox-icon 
      height: 19px
      width: 19px
      position: absolute
      background: $cWhite
      border-radius: 5px 
      border: 1px solid #00000027
      transition: all 0.3s
      top: 50%
      transform: translateY(-50%)

    .checkbox-icon::after
      left: 6px
      top: 2px 
      width: 5px 
      height: 8px
      border: solid $cWhite
      border-width: 0 3px 3px 0
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(-45deg)
      transition: all 0.1s
  
  .form-group-check-container:hover input ~ .checkbox-icon
    background: #f1f1f1

  .form-group-check-container input:checked ~ .checkbox-icon 
    background: $purplishBlue

  .checkbox-icon::after 
    content: ""
    position: absolute
    opacity: 0

  .form-group-check-container input:checked ~ .checkbox-icon::after 
    opacity: 1 
    transform: rotate(45deg)

  .form-group-check-container input:checked ~ .checkbox-icon 
    border: none

.form-group-check:has(input:checked) 
  background: $alabaster
  border: 1px solid $marineBlue

// MESSAGE 
.message 
  height: 100% 
  width: 100% 
  display: flex 
  align-items: center
  justify-content: center
  flex-direction: column

  img 
    margin: 0 auto 30px auto 
    display: block

  h1 
    text-align: center 
    margin-bottom: 15px
    color: $marineBlue

  p 
    text-align: center 
    line-height: 25px
    color: $coolGray
    font-size: $fontBody