@media screen and (max-width: 860px)
  #app 
    width: 100%

  .steps-mobile 
    display: flex
  
  .card
    width: 100%
    grid-template-columns: 1fr
  
    .form-group-select
      gap: 15px
      flex-direction: column

      .form-group-radio
        .radio-ui 
          height: auto
          flex-direction: row
          justify-content: initial
          width: 100%
          gap: 20px

    .steps-container
      display: none

    .step-form-details 
      width: 520px 
      margin: 0 auto


@media screen and (max-width: 768px) 

@media screen and (max-width: 600px)
  #app 
    align-items: start 
  .card 
    transform: translateY(100px)
    top: 100px
    display: unset
    height: auto

    .step-form-details
      width: 100%
      padding: 10px 10px

    .form-buttons 
      background: $cWhite
      height: 80px
      width: 100vw 
      left: 50%
      transform: translateX(-50%)
      top: calc( 100vh - 190px )
      padding: 0 15px

  .message 
    padding: 50px 0