@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
.form-buttons {
  position: absolute;
  left: 0;
  bottom: 15px;
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s ease;
}
.btn:hover {
  background: rgba(2, 41, 90, 0.9);
}

.btn-primary-light {
  background: #473DFF;
}

.btn-primary {
  background: #02295A;
  margin-left: auto;
}

.btn-secondary {
  padding: 10px 0;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  color: #9699AB;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
}
.btn-secondary:hover {
  color: #02295A;
}

.dot {
  height: 38px;
  width: 38px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.dot-active {
  background: #BFE2FD;
  color: black;
  border: 1px solid #BFE2FD;
}

.dot-details span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.dot-details p {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
  text-transform: uppercase;
}

.steps-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: url("../assets/bg-sidebar-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  z-index: -1;
  display: none;
  justify-content: center;
  align-items: center;
}
.steps-mobile .steps-mobile-container {
  transform: translateY(-60px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.steps-mobile .steps .dot-details {
  display: none;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F6FF;
  font-family: "Ubuntu", sans-serif;
  padding: 0 15px;
}

#app {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  color: #02295A;
  font-weight: bold !important;
}

.card {
  height: 550px;
  width: 820px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.03);
  padding: 10px;
  display: grid;
  grid-template-columns: 270px 1fr;
}
.card .steps {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
}
.card .steps-container {
  background: url("../assets/bg-sidebar-desktop.svg");
  height: 100%;
  border-radius: 10px;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.card .step-form-details {
  padding: 10px 50px;
  position: relative;
}
.card .step-form-details .step-description {
  padding-top: 25px;
}
.card .step-form-details .step-description h1 {
  margin-bottom: 10px;
}
.card .step-form-details .step-description p {
  margin-bottom: 30px;
  color: #9699AB;
  font-size: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-group .required {
  border: 1px solid #ED3548;
}
.form-group input {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  color: #02295A;
  font-weight: 600;
}
.form-group input:focus {
  border: 1px solid #02295A;
}
.form-group div {
  display: flex;
  justify-content: space-between;
}
.form-group div label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #02295A;
}
.form-group div span {
  font-size: 14px;
  font-weight: bold;
  color: #ED3548;
}

.form-group-select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.form-group-select .form-group-radio {
  position: relative;
  cursor: pointer;
}
.form-group-select .form-group-radio .radio {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.form-group-select .form-group-radio .radio-ui {
  height: 150px;
  width: 130px;
  border: 1px solid #D6D9E6;
  display: block;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-group-select .form-group-radio .radio-ui img {
  height: 35px;
  width: 35px;
}
.form-group-select .form-group-radio .radio-ui p {
  font-weight: bold;
  color: #02295A;
  margin-bottom: 3px;
}
.form-group-select .form-group-radio .radio-ui span {
  color: #9699AB;
  font-size: 14px;
}
.form-group-select .form-group-radio .radio-ui .span-promo {
  margin-top: 3px;
  display: block;
  color: #02295A;
  font-size: 12px;
}
.form-group-select .form-group-radio .radio:checked + .radio-ui, .form-group-select .form-group-radio .radio:hover + .radio-ui {
  border: 1px solid #473DFF;
  background: #CCCCCC;
}

.form-group-checkbox {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
.form-group-checkbox .checkbox {
  position: relative;
  height: 20px;
  width: 35px;
  background: #02295A;
  display: block;
  border-radius: 20px;
}
.form-group-checkbox .checkbox::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: white;
  transition: 0.2s ease;
}
.form-group-checkbox .check {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
.form-group-checkbox .check:checked + .checkbox::before {
  transform: translate(17px, -50%);
}

.bill-plan {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: red;
  padding: 12px 0;
  background: #CCCCCC;
  border-radius: 7px;
  border: 1px solid #eff1ff82;
  box-shadow: 0px 2px 2px 1px #eff1ff85;
}

.form-group-check {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid transparent;
  background: #CCCCCC;
  border: 1px solid #BFE2FD;
}
.form-group-check .form-group-check-container {
  cursor: pointer;
}
.form-group-check .form-group-check-container .adds-details {
  padding-left: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-group-check .form-group-check-container .adds-details p {
  font-weight: bold;
  color: #02295A;
  margin-bottom: 3px;
}
.form-group-check .form-group-check-container .adds-details span {
  color: #9699AB;
  font-size: 14px;
}
.form-group-check .form-group-check-container .adds-details .add-price {
  font-weight: 400;
  font-size: 14px;
  color: #473DFF;
}
.form-group-check .form-group-check-container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.form-group-check .form-group-check-container .checkbox-icon {
  height: 19px;
  width: 19px;
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #00000027;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
}
.form-group-check .form-group-check-container .checkbox-icon::after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(-45deg);
  transition: all 0.1s;
}
.form-group-check .form-group-check-container:hover input ~ .checkbox-icon {
  background: #f1f1f1;
}
.form-group-check .form-group-check-container input:checked ~ .checkbox-icon {
  background: #473DFF;
}
.form-group-check .checkbox-icon::after {
  content: "";
  position: absolute;
  opacity: 0;
}
.form-group-check .form-group-check-container input:checked ~ .checkbox-icon::after {
  opacity: 1;
  transform: rotate(45deg);
}
.form-group-check .form-group-check-container input:checked ~ .checkbox-icon {
  border: none;
}

.form-group-check:has(input:checked) {
  background: #CCCCCC;
  border: 1px solid #473DFF;
}

.message {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.message img {
  margin: 0 auto 30px auto;
  display: block;
}
.message h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #02295A;
}
.message p {
  text-align: center;
  line-height: 25px;
  color: #9699AB;
  font-size: 16px;
}

.summary-box {
  background: #CCCCCC;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eff1ff82;
  box-shadow: 0px 2px 2px 1px #eff1ff85;
}
.summary-box .bill-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D9E6;
  margin-bottom: 20px;
}
.summary-box .bill-state a {
  text-decoration: underline;
  color: #9699AB;
  margin-top: 5px;
  display: block;
  cursor: pointer;
  font-size: 14px;
}
.summary-box .bill-state .bill {
  font-weight: 500;
  color: #02295A;
}
.summary-box .bill-state .bill-price {
  font-weight: bold;
  color: #02295A;
}
.summary-box .service-adds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.summary-box .service-adds .service-name {
  color: #9699AB;
}
.summary-box .service-adds .service-price {
  color: #02295A;
  font-weight: 500;
}

.bill-total {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.bill-total span {
  font-size: 14px;
  color: #9699AB;
}
.bill-total p {
  font-size: 18px;
  font-weight: bold;
  color: #473DFF;
}

@media screen and (max-width: 860px) {
  #app {
    width: 100%;
  }

  .steps-mobile {
    display: flex;
  }

  .card {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .card .form-group-select {
    gap: 15px;
    flex-direction: column;
  }
  .card .form-group-select .form-group-radio .radio-ui {
    height: auto;
    flex-direction: row;
    justify-content: initial;
    width: 100%;
    gap: 20px;
  }
  .card .steps-container {
    display: none;
  }
  .card .step-form-details {
    width: 520px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  #app {
    align-items: start;
  }

  .card {
    transform: translateY(100px);
    top: 100px;
    display: unset;
    height: auto;
  }
  .card .step-form-details {
    width: 100%;
    padding: 10px 10px;
  }
  .card .form-buttons {
    background: #ffffff;
    height: 80px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: calc( 100vh - 190px );
    padding: 0 15px;
  }

  .message {
    padding: 50px 0;
  }
}

/*# sourceMappingURL=main.css.map */
